body{
    background-image: url(poto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 16px 32px;
    overflow: hidden;
}

li {
    float: right;
}

.logo {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.logo-text{
    font-style: italic;
}